@import "tailwindcss";

@layer base {
  body {
    background-color: #ffffff;
    color: #000000; 
  }
}
@theme {
  --color-primary: #007dfc;
  --color-secondary: #e8f0fe;
  --color-accent: #ff5722;
  --color-background: #ffffff;
  --color-text: #000000;
}